@import "tailwindcss";

@font-face {
  font-family: "Vazirmatn";
  src: url("/src/assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vazirmatn-semibold";
  src: url("/src/assets/fonts/Vazirmatn-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn-medium";
  src: url("/src/assets/fonts/Vazirmatn-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Vazirmatn-bold";
  src: url("/src/assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
}

@theme {
  /* فونت ها */
  --font-Vazirmatn: "Vazirmatn", sans-serif;
  --font-Vazirmatn-semibold: "Vazirmatn-semibold", sans-serif;
  --font-Vazirmatn-medium: "Vazirmatn-medium", sans-serif;
  --font-Vazirmatn-bold: "Vazirmatn-bold", sans-serif;

  --color-box: #242424;
  --color-primary: #191919;
  --color-fildes: #363636;

  --color-secondary: #59ac77;

  --breakpoint-mobile: 25rem;
}
